.QA{
    color:white;


}
.Container_qa{
    margin: 100px auto;
    padding:20px;
    line-height: 2;
    border: 2px solid #A5787A;
    border-radius: 20px;
    display: flex;
 justify-content: center;
 width: fit-content;
 box-shadow: 0 4px 100px 0 #251819;

}
